
* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background: antiquewhite;
}

.app {
  margin: 3rem;
}

.home {
  margin: 2rem;

  header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    font-size: 1.5rem;

    .actions {
      display: flex;
      gap: 1rem;
    }
  }

  .container {
    text-align: center;
    padding: 2rem;
    //color: white;
    h1 {
      font-size: 4rem;
    }
    p {
      padding: 5rem;
      font-size: 1.2rem;
    }
  }

}


//header {
//  display: flex;
//  justify-content: space-between;
//  height: 10vh;
//  width: 50vw;
//  font-size: 1.5rem;
//}

.inactive {
  text-decoration: none;
  color: blue;
}

.active {
  text-decoration: underline;
  color: orange;
  font-weight: bold;
}


.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 1rem;
  margin: 1rem;

  .search-icon {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.list-item {
  background: aliceblue;
  border-radius: 15px;
  margin: 1rem;
}